<h1>{{mytodos}}</h1>

{{input value = ktodo}}

<button {{action 'newTodo' ktodo}}> New Todo</button>



<ul id = todo-list>
  {{#each model as |todo|}}
  <li>{{todo.title}}</li>
  <li>{{todo.isCompleted}}</li>
  {{/each}}
</ul>

{{outlet}}
